html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes flash {
  0% { opacity: .3; }
  100% { opacity: 1; }
}

.flash:hover {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}
